<%if @cat_id != nil%>
<label class="col-sm-2 control-label">Product</label>
   <div class="col-sm-10">
    <select name="product_id[]" id="prductfn" multiple="multiple"  onchange="productfn(this.options);" class="form-control" >
      <% @product.each do |p| %>
      <option value="<%= p.id %>" ><%= p.name %></value>
      <%end%>
    </select>     
    </div>
<%end%>
<script> 
	
	 function productfn(opt){
	 	 
	  var selected = new Array();
      var count = 0;
      for (var intLoop=0; intLoop < opt.length; intLoop++) {
         if (opt[intLoop].selected) {
              count++;
             // alert(count)
             selected[count] = opt[intLoop].value;
              // console.log(selected)
         }
      }       
        
        
        $.ajax({url:'<% url_for new_profile_path %>',
		data:{"pro_id": selected},
		dataType:'script'
		})
      
    }
    
</script>
